<div class="container" *ngIf="data$ | async as data">
  <h1>{{ data.game.name }}</h1>
  <p *ngIf="data.game.penalty === penaltyType.Flex">
    Bitte zu jedem Spieler den fälligen Geldbetrag angeben.
  </p>

  <p *ngIf="data.game.penalty !== penaltyType.Flex">
    Bitte die Spieler markieren, die dieses Spiel verloren haben.<br />
    Die Strafe pro Spieler beträgt
    <b>{{ data.game.penalty | currency: "EUR" }}</b>
  </p>
  <form [formGroup]="form">
    <mat-selection-list>
      <mat-list-item *ngFor="let player of data.players; let last = last">
        <div class="row">
          {{ player.name }}

          <mat-form-field
            appearance="fill"
            *ngIf="data.game.penalty === penaltyType.Flex"
          >
            <mat-label>Betrag in €</mat-label>
            <input [formControlName]="player.id" type="number" matInput />
          </mat-form-field>

          <mat-checkbox
            *ngIf="data.game.penalty !== penaltyType.Flex"
            [formControlName]="player.id"
          ></mat-checkbox>
        </div>
        <mat-divider *ngIf="!last"> </mat-divider>
      </mat-list-item>
    </mat-selection-list>

    <button mat-raised-button [routerLink]="['..']">Zurück</button>

    <button
      mat-raised-button
      color="primary"
      (click)="onClickSubmit(data.game, data.players)"
    >
      Speichern
    </button>
  </form>
</div>
