:host {
    ::ng-deep {
        mat-selection-list.mat-list-base .mat-list-item {
            height: auto;
        }

        .mat-form-field-wrapper {
            padding-bottom: 1.3em;
            padding-top: 1.3em;
        }
    }
}

.container {
    display: block;
}

mat-form-field {
    font-size: 0.8rem;
}

mat-selection-list {
    max-width: 500px;
}

button {
    margin-top: 24px;
    margin-right: 24px;
}

.player-name {
    flex: 1;
}

.field {
    margin-right: 16px;
}

.amount-field {
    width: 80px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;

    button {
        margin: 0;
    }
}
