mat-card {
  width: 180px;
  margin: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  mat-card-content {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;

    div {
      display: flex;
      align-items: center;
      font-size: 150%;

      &.open-payment {
        color: red;
      }

      mat-icon {
        margin-right: 8px;
      }
    }
  }
}
