<div class="container">
    <ng-template #spinner> <mat-spinner></mat-spinner></ng-template>

    <ng-container *ngIf="data$ | async as data; else spinner">
        <mat-card *ngFor="let game of data" [routerLink]="[game.id]">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon *ngIf="game.icon"> {{ game.icon }} </mat-icon>
                </div>
                <mat-card-title>{{ game.name }}</mat-card-title>
                <mat-card-subtitle>
                    {{ game.groupGame ? 'Gruppenspiel' : 'Einzelspiel' }} -
                    {{ game.penalty === penaltyType.Flex ? 'freier Betrag' : (game.penalty | currency: 'EUR') }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ game.description }}</p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>
