<div class="container">
    <mat-card *ngFor="let game of data$ | async" [routerLink]="[game.id]">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon [class.played]="game.played">
                    {{ game.played ? 'radio_button_checked' : 'radio_button_unchecked' }}
                </mat-icon>
            </div>
            <mat-card-title>{{ game.name }}</mat-card-title>
            <mat-card-subtitle>
                {{ game.groupGame ? 'Gruppenspiel' : 'Einzelspiel' }} -
                {{ game.penalty === penaltyType.Flex ? 'freier Betrag' : (game.penalty | currency: 'EUR') }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ game.description }}</p>
        </mat-card-content>
    </mat-card>
</div>
